<section id="main-content" class="section hero search">
  <div class="hero-inner">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false"
      viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section class="section intro container">
  <h2>UK PPE questions? We can help</h2>
  <p>

    We are a <a href="/hc/en-gb/articles/360013514059">
    team of UK volunteers</a> who are connected to community-driven and commercial
    production of personal protective equipment (PPE) across the country in response to the
    Covid-19 pandemic.

  </p>
  <p>

    We’d like to share what we’re learning and individually support anyone who is not sure
    where to look, has specific questions or would like to talk through their options. Our
    initial knowledge base focuses on face shields, but we will do our best with questions
    about other types of equipment.

  </p>
  <p>

    Please check out our articles or if you don’t find what you need please <a
    href="{{page_path 'new_request'}}" class='submit-a-request'>get in touch</a>.

  </p>
</section>

<div class="container">
  <section class="section knowledge-base">
    {{#each categories}}
      {{#if ../has_multiple_categories}}
        <div class="section-category">
          <h2 class="category-title"><a href='{{url}}'>{{name}}</a></h2>
          {{#if description}}
            <p class="page-header-description">{{description}}</p>
          {{/if}}
      {{/if}}

      {{#each sections}}
        <div class="section-section">
        <h3 class="section-title"><a href='{{url}}'>{{name}}</a></h3>

        {{#if description}}
          <p class="page-header-description">{{description}}</p>
        {{/if}}

        {{#if articles}}
          <ul class="article-list">
            {{#each articles}}
              <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
                {{#if promoted}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 12 12" class="icon-star" title="{{t 'promoted'}}">
                    <path fill="currentColor" d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z"/>
                  </svg>
                {{/if}}
                <a href="{{url}}" class="article-list-link">{{title}}</a>
                {{#if internal}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                    <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                    <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                  </svg>
                {{/if}}
              </li>
            {{/each}}
          </ul>

          {{#if more_articles}}
            <a href="{{url}}" class="see-all-articles">
              {{t 'show_all_articles' count=article_count}}
            </a>
          {{/if}}

        {{else}}
          <p><em>No articles in this section yet.</em></p>
        {{/if}}

        </div>
      {{/each}}

      {{#if ../has_multiple_categories}}
        </div>
      {{/if}}
    {{/each}}
    {{pagination}}
  </section>

  <section class="section hero contact">
    <h2 class="visibility-hidden">{{ t 'submit_a_request' }}</h2>
    <a href="{{page_path 'new_request'}}" class="button button-large button-big-friendly">Get in touch</a>
  </section>
</div>
